body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.ant-list-item {
  padding: 2px!important;
  width: 60%!important;
}

.ant-menu-overflow {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  width: 80%;
}

.ant-list-items,
.ant-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ant-card {
  width: 100% !important;
  margin: 0 !important;
}

.spin-loading {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.link {
  cursor: pointer;
  color: rgb(53, 123, 235);
}

.link:hover {
  color: rgb(74, 2, 129);
}

.btn {
  margin-left: 20px;
}

.warning {
  color: rgb(201, 41, 41);
}

.ant-spin-text {
  margin-left: 7px;
}

.date {
  font-size: 10px;
  color: rgb(130, 130, 130);
}

li {
  list-style-type: none;
}

.child-com {
  margin-left: 15px;
  background-color: rgb(241, 244, 248);
}

.child-com>li {
  list-style-type: none;
  margin-left: 10px;
}

.btn-update {
  margin-top: 15px;

}

.btn-contain {
  display: flex;
  justify-content: flex-end;
}

.main {
  width: 100%;
}

.main-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.header{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px;
  border: #52c41a;
}
main{
  margin-left: 15%;
  margin-right: 15%;
}
ul{
  padding-left: 0.5rem!important;
}
.ant-card-head{
  margin-top: 15px;
}
.ant-card-body{
 width: 70%;
}
.ant-card-head-title{
  white-space: normal!important;
  font-size: 18px;
  padding: 5px!important;
}
@media screen and (max-width: 800px) {
  .ant-card-body{
    width: 100%!important;
   }

}