body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0.1rem;
}
.ant-list-item{
  padding: 5px;
  width: 60%;
}
.ant-menu-overflow {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 10%;
}
.ant-list-items, .ant-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ant-card{
  width: 70%!important;
  margin: 0!important;
}
.spin-loading{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-card-body{
  width: 60%;
}

.link {
  cursor: pointer;
  color: rgb(53, 123, 235);
}
.link:hover {
  color:rgb(74, 2, 129);
}
.btn{
  margin-left: 10px;
}
.warning{
  color: rgb(201, 41, 41);
}
.ant-spin-text{
  margin-left: 7px;
}